<gd-top-toolbar>
  <gd-logo [logo]="'viewer'"></gd-logo>
  <gd-button [icon]="'folder-open'" [tooltip]="'Browse files'" (click)="openModal('gd-browse-files')"></gd-button>
</gd-top-toolbar>
<gd-document [file]="file" [mode]="viewerConfig?.htmlMode" [preloadPageCount]="viewerConfig?.preloadPageCount"></gd-document>

<gd-browse-files-modal (urlForUpload)="upload($event)" [files]="files" (selectedDirectory)="selectDir($event)" (selectedFileGuid)="selectFile($event, 'gd-browse-files')"></gd-browse-files-modal>
