<div class="wrapper">
  <gd-top-toolbar>
    <gd-logo [logo]="'viewer'"></gd-logo>
    <gd-button [icon]="'folder-open'" [tooltip]="'Browse files'" (click)="openModal('gd-browse-files')"></gd-button>

    <gd-select [disabled]="formatDisabled" [options]="zoomOptions()" (selected)="selectZoom($event)"
               [showSelected]="zoom"></gd-select>
    <gd-button [disabled]="formatDisabled" [icon]="'search-plus'" [tooltip]="'Zoom In'" (click)="zoomIn()"></gd-button>
    <gd-button [disabled]="formatDisabled" [icon]="'search-minus'" [tooltip]="'Zoom Out'"
               (click)="zoomOut()"></gd-button>

    <gd-button [disabled]="formatDisabled" [icon]="'angle-double-left'" [tooltip]="'First Page'"
               (click)="toFirstPage()"></gd-button>
    <gd-button [disabled]="formatDisabled" [icon]="'angle-left'" [tooltip]="'Previous Page'"
               (click)="prevPage()"></gd-button>
    <div class="current-page-number">{{currentPage}}/{{countPages}}</div>
    <gd-button [disabled]="formatDisabled" [icon]="'angle-right'" [tooltip]="'Next Page'"
               (click)="nextPage()"></gd-button>
    <gd-button [disabled]="formatDisabled" [icon]="'angle-double-right'" [tooltip]="'Last Page'"
               (click)="toLastPage()"></gd-button>

    <gd-button [disabled]="formatDisabled" [icon]="'undo'" [tooltip]="'Rotate CCW'" (click)="rotate(-90)"></gd-button>
    <gd-button [disabled]="formatDisabled" [icon]="'redo'" [tooltip]="'Rotate CW'" (click)="rotate(90)"></gd-button>

    <gd-button [disabled]="formatDisabled" [icon]="'download'" [tooltip]="'Docwnload'" (click)="downloadFile()"></gd-button>
    <gd-button [disabled]="formatDisabled" [icon]="'print'" [tooltip]="'Print'" (click)="printFile()"></gd-button>
  </gd-top-toolbar>
  <gd-document *ngIf="file" [file]="file" [mode]="viewerConfig?.htmlMode"
               [preloadPageCount]="viewerConfig?.preloadPageCount"></gd-document>

  <gd-init-state [icon]="'eye'" [text]="'viewer'" *ngIf="!file"></gd-init-state>

  <gd-browse-files-modal (urlForUpload)="upload($event)" [files]="files" (selectedDirectory)="selectDir($event)"
                         (selectedFileGuid)="selectFile($event, 'gd-browse-files')"></gd-browse-files-modal>
</div>
