<div class="wrapper" (contextmenu)="onRightClick($event)" (click)="hideAll($event)">
  <gd-tabbed-toolbars>
    <gd-tabs>
      <gd-tab tabTitle="File" [icon]="'folder-open'">
        <gd-top-toolbar class="toolbar-panel" [leftOffset]="false">
          <gd-button [icon]="'file'" [tooltip]="'Create document'" (click)="createFile()"
                     *ngIf="createNewFileConfig"></gd-button>
          <gd-button [icon]="'folder-open'" [tooltip]="'Browse files'" (click)="openModal(browseFilesModal)"
                     *ngIf="browseConfig"></gd-button>
          <gd-button [disabled]="formatDisabled" [icon]="'download'" [tooltip]="'Download'"
                     (click)="downloadFile()" *ngIf="downloadConfig" ></gd-button>
          <gd-button [disabled]="formatDisabled" [icon]="'save'" [tooltip]="'Save File'" (click)="save()"></gd-button>
          <gd-button [disabled]="formatDisabled" [icon]="'pencil-alt'" [iconClass]="'save-as-button-icon'" [tooltip]="'Save File As'" (click)="openSave()">
            <i class="far fa-save save-button"></i>
          </gd-button>
        </gd-top-toolbar>
      </gd-tab>
      <gd-tab tabTitle="Formatting" [icon]="'edit'">
        <gd-top-toolbar class="toolbar-panel" [leftOffset]="false">

          <gd-button [disabled]="formatDisabled" [icon]="'undo'" [tooltip]="'Undo'"
                     (click)="toggleUndo()"></gd-button>
          <gd-button [disabled]="formatDisabled" [icon]="'redo'" [tooltip]="'Redo'"
                     (click)="toggleRedo()"></gd-button>
          <gd-select class="format-select" [disabled]="formatDisabled" [options]="fontOptions"
                     (selected)="selectFont($event)"
                     [showSelected]="formatting.font"></gd-select>
          <gd-select class="format-select" [disabled]="formatDisabled" [options]="fontSizeOptions"
                     (selected)="selectFontSize($event)"
                     [showSelected]="formatting.fontSize + 'px'"></gd-select>
          <gd-button [disabled]="formatDisabled" [icon]="'bold'" [tooltip]="'Bold'"
                     (click)="toggleBold($event)" [toggle]="formatting.bold"></gd-button>
          <gd-button [disabled]="formatDisabled" [icon]="'italic'" [tooltip]="'Italic'"
                     (click)="toggleItalic($event)" [toggle]="formatting.italic"></gd-button>
          <gd-button [disabled]="formatDisabled" [icon]="'underline'" [tooltip]="'Underline'"
                     (click)="toggleUnderline($event)" [toggle]="formatting.underline"></gd-button>
          <gd-button [disabled]="formatDisabled" [icon]="'strikethrough'" [tooltip]="'Strike out'"
                     (click)="toggleStrikeout($event)" [toggle]="formatting.strikeout"></gd-button>
          <gd-button [disabled]="formatDisabled" [icon]="'align-center'" [tooltip]="'Align center'"
                     (click)="toggleAlign('center')" [toggle]="formatting.align == 'center' ? true : false"></gd-button>
          <gd-button [disabled]="formatDisabled" [icon]="'align-justify'" [tooltip]="'Align full'"
                     (click)="toggleAlign('full')" [toggle]="formatting.align == 'full' ? true : false"></gd-button>
          <gd-button [disabled]="formatDisabled" [icon]="'align-right'" [tooltip]="'Align right'"
                     (click)="toggleAlign('right')" [toggle]="formatting.align == 'right' ? true : false"></gd-button>
          <gd-button [disabled]="formatDisabled" [icon]="'align-left'" [tooltip]="'Align left'"
                     (click)="toggleAlign('left')" [toggle]="formatting.align == 'left' ? true : false"></gd-button>
          <gd-button [disabled]="formatDisabled" [icon]="'list-ul'" [tooltip]="'Add Unordered List'"
                     (click)="toggleList('unordered')" [toggle]="formatting.list == 'unordered' ? true : false"></gd-button>
          <gd-button [disabled]="formatDisabled" [icon]="'list-ol'" [tooltip]="'Add Ordered List'"
                     (click)="toggleList('ordered')" [toggle]="formatting.list == 'ordered' ? true : false"></gd-button>
          <gd-button name="button" [disabled]="formatDisabled" [icon]="'fill'" [tooltip]="'Background color'"
                     (click)="toggleColorPicker(true)">
            <div class="bg-color-pic" [style.background-color]="formatting.bgColor"></div>
          </gd-button>
          <gd-button name="button" [disabled]="formatDisabled" [icon]="'font'" [tooltip]="'Color'" (click)="toggleColorPicker(false)">
            <div class="bg-color-pic" [style.background-color]="formatting.color"></div>
          </gd-button>
        </gd-top-toolbar>
      </gd-tab>
    </gd-tabs>
  </gd-tabbed-toolbars>
  <gd-color-picker *ngIf="bgColorPickerShow || colorPickerShow"
                   [className]="'palette ' + (bgColorPickerShow ? 'background-color-picker' : 'color-picker')"
                   (selectedColor)="selectColor($event)"></gd-color-picker>
  <div class="doc-panel" *ngIf="file">

    <gd-document class="gd-document" *ngIf="file" [file]="file" [mode]="true"
                 [preloadPageCount]="0" gdFormatting>

    </gd-document>

  </div>
  <gd-init-state [icon]="'pen'" [text]="''" *ngIf="!file"></gd-init-state>
  <gd-browse-files-modal
    (urlForUpload)="upload($event)"
    [files]="files"
    (selectedDirectory)="selectDir($event)"
    (selectedFileGuid)="selectFile($event, null, browseFilesModal)"
    [uploadConfig]="uploadConfig"
  ></gd-browse-files-modal>
  <gd-error-modal></gd-error-modal>
  <gd-password-required></gd-password-required>
  <gd-create-document-modal [file]="credentials" (savingFile)="saveFile($event)"></gd-create-document-modal>
  <gd-success-modal></gd-success-modal>
</div>
