<div class="wrapper" (contextmenu)="onRightClick($event)" (click)="hideAll($event)">
  <gd-tabbed-toolbars>
    <gd-tabs>
      <gd-tab tabTitle="File" [icon]="'folder-open'">
        <gd-top-toolbar class="toolbar-panel" [leftOffset]="false">
          <gd-button [icon]="'file'" [tooltip]="'Create document'" (click)="createFile()"
                     *ngIf="createNewFileConfig"></gd-button>
          <gd-button [icon]="'folder-open'" [tooltip]="'Browse files'" (click)="openModal(browseFilesModal)"
                     *ngIf="browseConfig"></gd-button>
        </gd-top-toolbar>
      </gd-tab>
      <gd-tab tabTitle="Formatting" [icon]="'edit'">
        <gd-top-toolbar class="toolbar-panel" [leftOffset]="false">

          <gd-button [disabled]="formatDisabled" [icon]="'undo'" [tooltip]="'Undo'"
                     (click)="toggleUndo()"></gd-button>
          <gd-button [disabled]="formatDisabled" [icon]="'redo'" [tooltip]="'Redo'"
                     (click)="toggleRedo()"></gd-button>

          <gd-select class="format-select" [disabled]="formatDisabled" [options]="fontSizeOptions"
                     (selected)="selectFontSize($event)"
                     [showSelected]="formatting.fontSize + 'px'"></gd-select>
          <gd-button [disabled]="formatDisabled" [icon]="'bold'" [tooltip]="'Bold'"
                     (click)="toggleBold($event); checkState('bold')" [className]="formatting.bold ? 'gd-edit active' : ''"></gd-button>
          <gd-button name="button" [disabled]="formatDisabled" [icon]="'fill'" [tooltip]="'Background color'"
                     (click)="toggleColorPicker(true)">
            <div class="bg-color-pic" [style.background-color]="formatting.bgColor"></div>
          </gd-button>
          <gd-button name="button" [disabled]="formatDisabled" [icon]="'font'" [tooltip]="'Color'" (click)="toggleColorPicker(false)">
            <div class="bg-color-pic" [style.background-color]="formatting.color"></div>
          </gd-button>
        </gd-top-toolbar>
      </gd-tab>
    </gd-tabs>
  </gd-tabbed-toolbars>
  <gd-color-picker *ngIf="bgColorPickerShow || colorPickerShow"
                   [className]="'palette ' + (bgColorPickerShow ? 'background-color-picker' : 'color-picker')"
                   (selectedColor)=" checkState(bgColorPickerShow ? 'bgColor' : 'color', $event); selectColor($event)"></gd-color-picker>
  <div class="doc-panel" *ngIf="file">

    <gd-document class="gd-document" *ngIf="file" [file]="file" [mode]="true"
                 [preloadPageCount]="0" gdFormatting>

    </gd-document>

  </div>
  <gd-init-state [icon]="'eye'" [text]="''" *ngIf="!file"></gd-init-state>
  <gd-browse-files-modal
    (urlForUpload)="upload($event)"
    [files]="files"
    (selectedDirectory)="selectDir($event)"
    (selectedFileGuid)="selectFile($event, null, browseFilesModal)"
    [uploadConfig]="uploadConfig"
  ></gd-browse-files-modal>
  <gd-error-modal></gd-error-modal>
  <gd-password-required></gd-password-required>
  <gd-create-document-modal></gd-create-document-modal>
</div>
