@import "~src/../../libs/common-components/src/styles/variables";

.current-page-number {
  margin: 0px 15px;
  font-size: 14px;
  color: #959da5;
}

.wrapper {
  align-items: stretch;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.doc-panel {
  display: flex;
  height: inherit;
}

.gd-document {
  width: 100%;
  height: ~"calc(100% - @{editor-nav-height})";
}

.top-panel {
  display: flex;
  align-items: center;
  width: 100%;
}

.toolbar-panel {
  width: 100%;
}

/deep/ .page {
  padding: 96px;
}

/deep/ .dropdown-menu {
  min-width: unset !important;
}

.format-select {
  margin: 0px 15px;
}
