.wrapper {
  padding: 50px;
  font-family: "proxima-nova-soft", "Proxima Nova Soft", Helvetica, Arial, sans-serif;
  width: inherit;
  height: 100%;
}

.wrapper > ul {
  width: 100%;
  height: 100%;
}

.wrapper > ul > li {
  display: inline-block;
  margin: 10px;
  padding: 20px;
}

.wrapper > ul a {
  color: #6f6f6f;
  text-decoration: none;
}

.wrapper > ul img {
  width: 48px;
  height: 48px;
  display: inline-block;
}

.wrapper > ul > li > a > div {
  width: 120px;
  padding-top: 12px;
  padding-left: 10px;
  vertical-align: top;
  display: inline-block;
}

.wrapper > ul > li > a > .coming-soon {
  color: #d2d2d2;
}

.wrapper > ul h5 {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0px;
}

.wrapper > ul h6 {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0px;
}

@media (max-width: 1037px) {
  .wrapper {
    padding: 5px;
  }

  .wrapper > ul {
    padding-left: 15px;
  }

  .wrapper > ul > li {
    display: inline-block;
    margin: 10px;
    padding: 0px !important;
  }
}
